@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    font-family: Roboto,"Trebuchet MS",sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0px auto;
    width: 100%;
    background-color: white;
}
footer{
    max-width: 100%;
}
section{
    position: relative;
}
a, a:visited{
    text-decoration: none
}
h1, h2, .h1like{
    font-size: 32px;
    text-transform: uppercase;
}
h2{
    padding-top: 20px;
}

form > h3{
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}
.h1like{
    font-weight: bold;
}
.h2min{
    max-width: 80%
}
.space{
    height: 99px;
}    
.center{
    text-align: center;
    margin: 0 auto;
}
#nosprojets{
    background-color: #F5F5F5
}
ul{
    list-style-type: none;
    padding: 0px;
}

/*Menu*/

nav{
    position: fixed;
    padding-left: 50%;
    -webkit-animation: navb 0.5s ease-in-out;
            animation: navb 0.5s ease-in-out; 
}
nav a{
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 15px;   
    color: black;         
}
nav ul{             
    margin: 0px;
    padding: 0px;
}
nav li{
    float: left;          
}
nav a:hover{
    -webkit-animation: upline 0.15s forwards ease-in-out;
            animation: upline 0.15s forwards ease-in-out; 
}
header{
    background-color: #fff;
    top: 0px;
    left: 0px;
    width: 100vw;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    height: 99px;
    z-index: 1000;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.02);
            box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.02);
    -webkit-animation: headerb 0.5s ease-in-out;
            animation: headerb 0.5s ease-in-out;
}
.logo{
    padding: 4px;
    margin-right: 50%;
    -webkit-animation: logob 0.5s ease-in-out;
            animation: logob 0.5s ease-in-out;
}

/*Slider*/

#sliderlow{
    margin-top: 65px;
    display: none;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0,0,0,1);
            box-shadow: 0px 15px 30px 0px rgba(0,0,0,1);
}
.title{
    background-image: url("images/animated-number/bg.jpg");
    width: auto;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 5%;
}
.fleche_gauche, .fleche_droite{
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.fleche_gauche{
    border-radius: 0 50px 50px 0;
    left: 0;
}
.fleche_droite {
    border-radius: 50px 0 0 50px;
    right: 0;
}
.fleche_gauche i, .fleche_droite i{
    margin: auto;
    position: absolute;
    bottom: 16px;
    color: white;
}
.fleche_droite i{
    left: 10px;
}
.fleche_gauche i{
    right: 10px;
}
.slider{
    overflow: hidden;
    margin-top: 99px;
    -webkit-animation: slider .5s forwards ease-in-out;
            animation: slider .5s forwards ease-in-out;
}
.slider > figure{
    position: relative;
    width: 200%;
    margin: 0;
    left: 0;
    -webkit-animation: glisse 18s infinite ease-in-out;
            animation: glisse 18s infinite ease-in-out;
}
.slider > figure img{
    height: auto;
    width: 50%;
    float: left;
}
#texteslide, #texteslide2{
    position:absolute;
    color:white;
    font-size:16px;
    width:18%;
    margin-top: 8.5%;
    transform: translateY(-50%);
}
#texteslide{
    margin-left: 2.5%;
}
#texteslide2{
    margin-left: 52.5%;
}
.textebleu, .icos{
    color: #4EB1D5;
}
.bouton{
    font-size: 16px;
    width: 125px;
    height: 45px;     
    display: -webkit-box;     
    display: -ms-flexbox;     
    display: flex;          
    -webkit-box-pack: center;          
        -ms-flex-pack: center;          
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #4EB1D5;
    border-radius: 2px;
    -webkit-box-shadow: 0 4px 0 #4e8daa;
            box-shadow: 0 4px 0 #4e8daa;
    cursor: pointer;
}
.bouton:hover{
    background: #449aba;
    -webkit-box-shadow: 0 4px 0 #41778e;
            box-shadow: 0 4px 0 #41778e;
}
.bouton:active{
     -webkit-box-shadow: 2px 2px 8px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
             box-shadow: 2px 2px 8px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
#timeline{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #4EB1D5;
    width: 0;
    -webkit-animation: glisse 18s infinite;
            animation: glisse 18s infinite;
    -webkit-animation: timeliner 18s infinite linear;
            animation: timeliner 18s infinite linear;
    z-index: 20;
}
#timelineback{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: rgba(0,0,0,0.2);
    width: 100%;
    z-index: 20;
}
/*Services*/
#main-feature{
    height: 319px; 
    width: 510px;
}
.twolines:before{
    position: absolute;
    content: " ";
    height: 1px;
    width: 45px;
    background: #ddd;
    right: 20px;
    top: 6px;
}
.twolines:after{
    position: absolute;
    content: " ";
    height: 1px;
    width: 45px;
    background: #ddd;
    left: 20px;
    top: 6px;
}
.circle{
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    background: #4EB1D5;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 15px auto;
}
#nosprojets > .circle{
    border: 4px solid #f6f6f6;
}

.icos{
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    float: left; 
    margin: 30px;
    padding: 10px;
    border: 1px solid #D7DADB;
    border-radius: 50%;
}
.icos :after{    
    content: "";
    height: 10px;
    width: 10px;
    border: 3px solid #FFF;
    background-color: #4EB1D5;
    border-radius: 50%;
    position: absolute;
    -webkit-transform: translate(20%,50%);
        -ms-transform: translate(20%,50%);
            transform: translate(20%,50%);
}
#contserv{
    max-width: 770px;
}
#contserv > p{
    min-height: 50px;
}

/*Portofolio*/

input[type="radio"]{
    display: none; 
}
input[type="radio"] + label{
    cursor: pointer; 
}
input[type="radio"]:checked{
    display: none
}
.selector{
    width: 125px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 13px;
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
    background-color: #ccc;
}
.selector:hover{
    background-color: #b2b2b2;
}
li i{
    color: #4E8DAA;
    margin-bottom: -16px;
    visibility: hidden;
}
.selector:hover i{
    color: #41778e;
}
input[type="radio"]:checked ~ .selector{
    background-color: #4EB1D5;
    -webkit-box-shadow: inset 0px -3px #4E8DAA;
            box-shadow: inset 0px -3px #4E8DAA;
}
input[type="radio"]:checked ~ .selector:hover{
    background-color: #449aba;
    -webkit-box-shadow: inset 0px -3px #41778e;
            box-shadow: inset 0px -3px #41778e;
}
input[type="radio"]:checked ~ .selector i{
    visibility: visible;
}
#allworks:checked ~ li{
   display: none;
}
.wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
}
.works img{
    max-width: 600px;
    width: 25vw;
    width: 100%
}
.works{
    position: relative;
    overflow: hidden;
    max-width: 600px;
    width: 20vw;
}
.works figcaption{
    position: absolute;
    padding: 8px;
    bottom: 4px;
    color: white;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    -webkit-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;
    max-width: 600px;
    width: 20vw;
}
.wraper > figure:hover figcaption{
    opacity: 1;
    -webkit-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;
}
.eye{
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    background-color: #3BAED7;
    float: right;
    position: relative;
    right: 20px;
    bottom: 28px;
}
#wport > li:last-child > .selector{
    border-radius: 0 5px 5px 0;        
}
#wport > li:first-child > .selector{
    border-radius: 5px 0 0 5px;
}
/*Contact*/
iframe{
    border: 0px;
    width: 100%;
}
#blueblock
{
    width: 100%;
    height: 640px;
    position: absolute;
    top: 0px;
    background-color: rgba(78, 177, 213, 0.1);
    z-index: 1;
}
form{
    padding: 1em;
    background: rgba(255,255,255,0.9);
    max-width: 356px;
    max-height: 525px;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
form a img{
    height: 32px; 
    float: right;
    display: none;
}
form > p{
    color: grey;
}
form input, form textarea{
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
}

/*Keyframes*/

@-webkit-keyframes glisse{
    0%, 40%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    50%, 90% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}
@keyframes glisse{
    0%, 40%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    50%, 90% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}
@-webkit-keyframes timeliner{
    0%, 40.0001%, 50%, 90.0001%, 100% { 
        width: 0; 
    }
    40%, 90% { 
        width: 100%; 
    }
}
@keyframes timeliner{
    0%, 40.0001%, 50%, 90.0001%, 100% { 
        width: 0; 
    }
    40%, 90% { 
        width: 100%; 
    }
}
@-webkit-keyframes upline{
    from{
        padding: 40px 15px;
        border-top: 0px;
    }
    to{
        border-top: 3px solid #4EB1D5;
        padding: 37px 15px;   
    }
}
@keyframes upline{
    from{
        padding: 40px 15px;
        border-top: 0px solid #4EB1D5;
    }
    to{
        border-top: 3px solid #4EB1D5;
        padding: 37px 15px;   
    }
}
@-webkit-keyframes header{
    from{
        height: 99px;
    }
    to{
        height: 65px;   
    }
}
@keyframes header{
    from{
        height: 99px;
    }
    to{
        height: 65px;   
    }
}
@-webkit-keyframes headerb{
    from{
        height: 65px;
    }
    to{
        height: 99px;   
    }
}
@keyframes headerb{
    from{
        height: 65px;
    }
    to{
        height: 99px;   
    }
}
@-webkit-keyframes navb{
    from{
        -webkit-transform: translateY(-99px);
                transform: translateY(-99px);
    }
    to{
        -webkit-transform: translateY(0px);
                transform: translateY(0px); 
    }
}
@keyframes navb{
    from{
        -webkit-transform: translateY(-99px);
                transform: translateY(-99px);
    }
    to{
        -webkit-transform: translateY(0px);
                transform: translateY(0px); 
    }
}
@-webkit-keyframes nav{
    from{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    to{
        -webkit-transform: translateY(-99px);
                transform: translateY(-99px);
    }
}
@keyframes nav{
    from{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    to{
        -webkit-transform: translateY(-99px);
                transform: translateY(-99px);
    }
}
@-webkit-keyframes slider{
    from{
        -webkit-transform: translateY(-34px);
                transform: translateY(-34px);
    }
    to{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes slider{
    from{
        -webkit-transform: translateY(-34px);
                transform: translateY(-34px);
    }
    to{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);  
    }
}
@-webkit-keyframes logo{
    from{
        margin-right: 50%;
    }
    to{
        margin: 0;
    }
}
@keyframes logo{
    from{
        margin-right: 50%;
    }
    to{
        margin: 0;
    }
}
@-webkit-keyframes logob{
    from{
        margin: 0;
    }
    to{
        margin-right: 50%;
    }
}
@keyframes logob{
    from{
        margin: 0;
    }
    to{
        margin-right: 50%;
    }
}

/*Media queries*/

@media screen and (max-width: 1600px){
    .works img, .works figcaption, .works{
        width: 19vw;
    }
}
@media screen and (max-width: 1340px){
    .works img, .works figcaption, .works{
        width: 17.1vw;
    }
}
@media screen and (max-width: 1023px){
    .works img, .works figcaption, .works{
        width: 40vw;
    }
    .logo{
        -webkit-animation: logo 0.5s forwards ease-in-out;
                animation: logo 0.5s forwards ease-in-out;
    }
    nav,.slider, iframe, #blueblock, .space{
        display: none;
    }
    nav{
        -webkit-animation: nav 0.5s ease-in-out;
                animation: nav 0.5s ease-in-out;
    }
    #sliderlow{
        display: block;
    }
    header{
        -webkit-animation: header 0.5s forwards ease-in-out;
                animation: header 0.5s forwards ease-in-out;
    }
    h2{
        padding-top: 65px;
    }
    form{
        margin: 30px auto;
        position: static;
        width: 100%;
        padding: 0px;
    }
    form input, form textarea{
        width: 90%;
    }
    form a img{
        display: block;
    }
@media screen and (max-width: 680px){
    .icos, #main-feature{ 
        display: none;
    }
    .divserv{
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: justify;
        margin: 0 20px;
    }
    .works img, .works figcaption, .works{
        width: 75vw;
    }
}
@media screen and (max-width: 520px){
    #nosprojets ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    #wport > li:first-child > .selector{
        border-radius: 5px 5px 0px 0px;
    }
    #wport > li:last-child > .selector{  
        border-radius: 0px 0px 5px 5px;
    }
    #wport > li > .selector i, #wport > li:first-child > .selector i{
    visibility: hidden;
    }   
}